<section class="content">
    <div class="gams">
    {% for item in freetoplayall %}
        <div class="gams-item">
        <div class="gams-item-border">
            <img src="{{ item.thumbnail }}" alt="" class="gams-item_img">
            <h2 class="gams-item_titel">{{ item.title }}</h2>
            <input type="checkbox" class="gams-item_info-toggel" id="{{ item.id }}">
            <div class="gams-item_info-box">
                <p class="gams-item_description">{{ item.short_description }}</p>
                <h3 class="gams-item_dev">Developed by {{ item.developer }} and published by {{ item.publisher }}</h3>
                <div class="gams-item_geninfo">
                    <p class="gams-item_geninfo-paltform">Platform: {{ item.platform}}</p>
                    <p class="gams-item_geninfo-genre">Genre: {{ item.genre }}</P>
                </div>
                <a class="gams-item_gamurl" href="{{ item.game_url }}" target="_blank">Games website</a>
            </div>
            <label for="{{ item.id }}" class="gams-item_info-toggel-label">
                <span>x</span>
            </label>
        </div>
        </div>
    {% endfor %}
    </div>
</section>